html{
    background-color: silver ;
}

*{
    font-family: 'comic sans ms', sans-serif;
}

#container{
    position: relative;
    width: 1300px;
    height:1000px;
    margin: 50px auto 0px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 5px;

}

#selected{
    font-size: 25px;
    color: red;
    font-weight: bolder;
    border: white solid 3px;
    padding: 20px;
    background: lightgrey;
}

#selected:hover{
    background: red;
    color: black;
}

#header{
    margin-left: 180px;
}

#header>img{
    height: 200px;
    width: 1000px;
}

nav{
    background-color: gray;
    padding: 10px 0px;
    margin-bottom: 20px;
}

nav>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 20px;
}

nav>a:hover{
    color:red;
    text-decoration: underline solid gold;
}


#pic{
    position: relative;
    margin: 0px 150px;

}

#pic2{
    position: relative;
    margin: 40px 150px;
}

#wrapper{
    height: 1500px;
}

#form1{
    position: relative;
    display: inline;
    top: 0px;
}
.radio{
    position: relative;

}
.divcontent{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}
.pheader{
    position: relative;
    margin-top:0px;

}
.pcontent{
    position: relative;

}

#content_wrapper{
    margin-top: 30px;
}

.planspic{
    height: 183px;
    width: 275px;
}