html{
    background-color: silver ;
}

*{
    font-family: 'comic sans ms', sans-serif;
}

#container{
    width: 900px;
    margin: 50px auto 0px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 5px;
    height: 390px;
}

#plans{
    font-size: 25px;
    color: red;
    font-weight: bolder;
    border: white solid 3px;
    padding: 20px;
    background: lightgrey;
}

#plans:hover{
    background: red;
    color: black;
}

#header{
    margin-left: 180px;
}

nav{
    background-color: gray;
    padding: 10px 0px;
    margin-bottom: 20px;
}

nav>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 20px;
}

nav>a:hover{
    color:red;
    text-decoration: underline solid gold;
}