html{
    background-color: silver ;
}

*{
    font-family: 'comic sans ms', sans-serif;
}

#container{
    position: relative;
    width: 1300px;
    height:auto;
    margin: 50px auto 0px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 5px;

}

#selected{
    font-size: 25px;
    color: red;
    font-weight: bolder;
    border: white solid 3px;
    padding: 20px;
    background: lightgrey;
}

#selected:hover{
    background: red;
    color: black;
}

#header{
    margin-left: 180px;
}

#header>img{
    height: 200px;
    width: 1000px;
}

nav{
    background-color: gray;
    padding: 10px 0px;
    margin-bottom: 20px;
}

nav>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 20px;
}

nav>a:hover{
    color:red;
    text-decoration: underline solid gold;
}


#pic{
    position: relative;
    margin: 0px 150px;

}

#pic2{
    margin-right: 10%;
    margin-top: -23.1%;
    float: right;
}

#wrapper{
    height: 1500px;
}

#form1{
    position: relative;
    display: inline;
    top: 0px;
}
.radio{
    position: relative;

}
.divcontent{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}
.pheader{
    position: relative;
    margin-top:0px;

}
.pcontent{
    position: relative;

}

#content_wrapper{
    margin-top: 30px;
}

.planspic{
    height: 183px;
    width: 275px;
}

#disc{
    width:600px;
    position: relative;
    font-size: 19px;
    color: gray;
    text-align: justify;
    padding: 0px 10px;
}

.head{
    position: relative;
    width:250px;
    height:300px;
    display: inline-block;
    margin: 20px;
}

.phead>span{
    width:50px;
    height:50px;
    font-weight: bold;
    color:white;
    background-color: lime;
    border-radius: 100%;
    font-size:30px;
}

.phead{
    font-weight: bold;
    font-width:30px;
}

#find{
    position: relative;
    margin-left: 500px;
    text-align: justify;
    text-decoration: underline solid black;
}

#leftbar{
    float: left;
    margin-top: -30px;
}

#leftbar ul{
    padding-left: 20px;
    margin-top: -15px;
    margin-bottom: 30px;
}

#leftbar li{
    color: gold;
    list-style-type: none;
    font-size: 30px;
}

#leftbar li a{
    color: black;
    text-transform: uppercasecase;
    text-decoration: none;
}